{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">
      Champion Trees: Keep track of your favourite trees and find champion trees throughout Ireland.
    <section class="section">
    <h1 class="has-text-left is-size-5"><strong>What are champion trees?</strong></h1>
    <p><em> "Champion trees are defined as individual trees which are exceptional examples
    of their species because of their enormous size, great age, rarity or historical/cultural
    significance"</em> - Irish Tree Champions, John McLoughlin, Irish Forestry 2020, Vol. 77 </p>
    <br>
    <p class="box">
      <i class="fas fa-tree fa-10x" style="color:green"></i>
    </p>
  </div>
</section>