{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Champion Trees: Find champion trees in Ireland </p>
    <p class="box">
      <i class="fas fa-tree fa-10x" style="color:green"></i>
    </p>
  </div>
</section>
