{{> welcome-menu}}
<title>Welcome to Champion Trees</title>
<section class="section">
  <h1><strong>Discover Ireland's Champion Trees</strong></h1>
  <p><em> "Champion trees are defined as individual trees which are exceptional examples
of their species because of their enormous size, great age, rarity or historical/cultural
significance"</em> - Irish Tree Champions, John McLoughlin, Irish Forestry 2020, Vol. 77 </p>
<br>
<p> Sign up or Log in... </p>
</section>