{{> welcome-menu}}
<title>Welcome to Champion Trees</title>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-2 has-text-black">
        <strong>Discover Ireland's Champion Trees</strong>
      </h1>
    </div>
  </div>
  <div class="hero-foot">
    <img class="background-image" src="/images/cedar_blarney.jpg">
  </div>
</section>
