<form class="box" action="/province/{{province.title}}/addtree" method="POST">
  <input type="hidden" name="userid" value="{{user._id}}">
  
  <label for="species">Species:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Species" name="species" id="species">
      </div>
      <div class="field">
        <label for="height">Height:</label>
        <input class="input" type="text" placeholder="Enter Height" name="height" id="height">
      </div>
      <div class="field">
        <label for="girth">Girth:</label>
        <input class="input" type="text" placeholder="Enter Girth" name="girth" id="girth">
      </div>
      <div class="field">
        <label for="county">County:</label>
        <input class="input" type="text" placeholder="Enter County" name="county" id="county">
      </div>
      <div class="field">
        <label for="latitude">Latitude:</label>
        <input class="input" type="text" placeholder="00.00" name="latitude" id="latitude">
      </div>
      <div class="field">
        <label for="longitude">Longitude:</label>
        <input class="input" type="text" placeholder="00.00" name="longitude" id="longitude">
      </div>
    </div>
  </div>
  
  <button class="button is-primary">Add Tree to Collection</button>
</form>
