<form class="box" action="/province/{{province.title}}/addtree" method="POST">
  <input type="hidden" name="userid" value="{{user._id}}">
  
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label for="title">Title:</label>
        <input class="input" type="text" placeholder="Douglas Fir, big tree" name="title" id="title">
      </div>
      <div class="field">
        <label for="location">Location:</label>
        <input class="input" type="text" placeholder="Wicklow, coordinates" name="location" id="location">
      </div>
      <div class="field">
        <label for="height">Height (metres):</label>
        <input class="input" type="text" placeholder="50 (optional)" name="height" id="height">
      </div>
      <div class="field">
        <label for="girth">Girth (metres):</label>
        <input class="input" type="text" placeholder="20 (optional)" name="girth" id="girth">
      </div>
      <div class="field">
        <label for="description">Description:</label>
        <input class="input" type="text" placeholder="Fallen tree, favourite tree" name="description" id="description">
      </div>
    </div>
  </div>
  
  <button class="button is-primary">Add Tree to Collection</button>
</form>
