<form class="box" action="/province/{{province._id}}/addtree" method="POST">
  <label>Enter Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Species" name="species">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Height" name="height">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Girth" name="girth">
      </div>
            <div class="field">
        <input class="input" type="text" placeholder="Enter County" name="county">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Tree to collection</button>
</form>