<div class="box box-link-hover-shadow">
    <h2 class="title">
      Leinster
    </h2>
    <h2 class="title">
      Connacht
    </h2>
    <h2 class="title">
      Munster
    </h2>
    <h2 class="title">
      Ulster
    </h2>
  </div>